.room-contents-wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .message-post-box {
    background: rgba(60, 60, 64);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 185px;

    .top-post-menu {
      display: flex;
      justify-content: space-around;
      width: 90rem;
      margin-top: 10px;

      .room-info {
        font-size: 20px;
        color: rgb(164, 164, 165);

        .room-member-max {
          font-size: 20px;
          color: rgb(97, 97, 102);
          margin-right: 5px;
        }
      }

      .room-menu-icon {
        font-size: 20px;
        color: rgb(164, 164, 165);

        .move-loby {
          font-size: 20px;
          color: rgb(97, 97, 102);
          margin-left: 10px;
          padding: 2px;
          border: 1px solid rgb(97, 97, 102);
          color: rgb(97, 97, 102);
          text-decoration: none;
          cursor: pointer;
        }
      }
    }

    .post-input {
      background: rgba(164, 164, 165, 0);
      width: 40rem;
      height: 5rem;
      margin-top: 10px;
      padding-left: 10px;
      border: 1px solid rgb(164, 164, 165);
      border-radius: 10px;
      font-size: 20px;
      color: rgb(224, 224, 224);
    }

    .input-btn {
      background: rgb(164, 164, 165);
      width: 20rem;
      height: 3rem;
      margin-top: 10px;
      border: 1px solid rgb(78, 78, 78);
      border-radius: 30px;
      font-size: 20px;
      cursor: pointer;
    }
  }
  .view-input-message {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    margin-top: 30px;
    margin-bottom: 10px;
    width: 800px;
    height: 800px;
    white-space: normal;
    word-break: break-all;
    overflow-y: scroll;
    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */

    .login-user {
      font-size: 25px;
      color: white;
      margin: 0 auto;
      margin-top: 20px;
    }

    .view-input-box {
      list-style: none;
      display: flex;
      align-items: center;

      .user-profile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 170px;
        height: 150px;
        margin-top: 20px;

        .user-profile-img {
          background: rgba(255, 255, 255, 0.51);
          width: 80px;
          height: 80px;
          border: 4px solid white;
          border-radius: 10px;
        }

        .user-name {
          color: white;
          font-size: 30px;
          margin-top: 10px;
        }
      }

      .user-text {
        color: rgb(255, 255, 255);
        font-size: 30px;
        margin-left: 50px;
      }
    }
    .view-input-box2 {
      list-style: none;
      display: flex;
      align-items: center;

      .user-profile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;

        .user-profile-img {
          background: rgb(145, 167, 227);
          width: 80px;
          height: 80px;
          border: 4px solid white;
          border-radius: 10px;
        }

        .user-name {
          color: white;
          font-size: 30px;
          margin-top: 10px;
        }
      }

      .user-text {
        color: white;
        font-size: 30px;
        margin-left: 50px;
      }
    }
  }
  .view-input-message::-webkit-scrollbar {
    display: none;
    background: #000;
  }
}
